@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.App {
  text-align: center;
  font-family:  'Poppins', sans-serif;
  margin: 15px;
}

.movies-list{
  display: flex;
  gap:20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.movie-container{
  width:340px;}
.movie-name{
  font-size: 24px;
margin: 8px 0;
font-weight: 600;
}
.movie-rating{
  font-size: 18px;
  font-weight: 400;
}
.movie-poster{
  height: 500px;
  width: 340px;
  object-fit: cover;
}

.movie-specs{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.counter-container{
display: flex;
gap:10px;
}
.like,.dislike{
  font-size:20px;
  margin-bottom: 20px;
}

.colors-div{
  margin:8% 0 0 43%;
}